<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.edbrix.connectbrix">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@drawable/connect_brix_flash"
        android:label="@string/app_name"
        android:roundIcon="@drawable/connect_brix_flash"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:usesCleartextTraffic="true">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.ForgotPasswordActivity" />
        <activity
            android:name=".activities.SchoolListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.MeetingRequestListActivity" />
        <activity android:name=".activities.MeetingDetailsActivity" />
        <activity android:name=".activities.FlashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.ChangePasswordActivity" />
        <activity android:name=".activities.OrgnizationListActivity" />
        <activity android:name=".activities.UserProfileActivity" />
        <activity android:name=".activities.EditProfileActivity" />
        <activity android:name=".activities.SelectCountryActivity" />
        <activity android:name=".activities.SelectStateActivity" />
        <activity android:name=".activities.ParticipantListItemActivity" />
        <activity
            android:name=".activities.CreateMeetingActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activities.CalenderViewMeetingListActivity" />
        <activity android:name=".activities.SelectParticipantsActivity" />
        <activity android:name=".activities.FliterParticipantsActivity" />
        <activity android:name=".activities.SelectParticipantsListItemActivity" />
        <activity android:name=".activities.UpdateProfilePicActivity" />
        <activity android:name=".activities.WelcomeActivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="aa6c280ec9307f757b7c5b1df101f1fc3899dc97" />

        <activity android:name=".activities.ImagePickerActivity" />

        <!-- uCrop cropping activity -->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- cache directory file provider paths -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- [START firebase_service] -->
        <service android:name=".services.GoogleFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!--
        Set custom default icon. This is used when no icon is set for incoming notification messages.
        See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/connect_brix_flash" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorBlack" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".activities.SelectTimeZoneActivity" />
        <activity android:name=".activities.TimeZoneListItemActivity"></activity>
    </application>

</manifest>